header {
  background: #bbbbbb;
  padding: 20px 0px;
}

.caixa {
    position: relative;
    width: 90%;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav li {
  display: inline;
  margin-left: 15px; /*   = margin: 0 0 0 15px; */
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #C78C19;
  text-decoration: underline;
}

.principal {
  background: #bbbbbb;
  padding: 30px;
}

.principal h2{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;  
}

.titulo-principal {
  padding-left: 20px;
}

.titulo-centralizado {
    text-align: center
}

#banner {
  width: 100%;
  margin: 20px 0;
}

.principal p {
  text-align: center;
  margin: 5px 0;
}

#missao {
  font-size: 20px;
}

em strong {
  color: REd;
}

.beneficios {
  background: #ffffff;
  padding: 20px;
}

.beneficios h3{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

.vantagens {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

#imgBeneficios {
  width: 50%;
}

.items {
  font-style: italic;
  font-size: 30px;
  margin: 0 15px;
  list-style-type: disc;
}

footer{
  text-align: center;
  background: url("../img/bg.jpg");
  padding: 40px 0px;
}

.copyright{
  font-size: 13px;
  color: white;
  margin-top: 20px;
}